<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments_admin :: head(~{::title})">
    <title th:text="${tag}!=null?'标签修改':'标签新增'">标签新增</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments_admin::menu(3)"></nav>
<!--二级导航-->
<div class="ui attached menu pointing">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tag-input}" class="active active item">发布</a>
            <a href="#" th:href="@{/admin/tag/page/1}" class=" item">列表</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" th:action="${tag}==null ? '/admin/tag/save':'/admin/tag/update/'+${tag.id}" method="post"
              class="ui form ">
            <div class="field">
                <div class="ui left labeled input">
                    <label for="" class="ui teal basic label">名称</label>
                    <input type="text" th:placeholder="${tag!=null}? ${tag.name} : '请输入标签名称'" name="name" id="" placeholder="分类名称">
                </div>
            </div>
            <div class="ui error message mini"></div>
            <div class="ui right aligned container">
                <button type="button" class="ui button basic" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal basic button">提交</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments_admin::foooter"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });

    $(".ui.dropdown").dropdown({
        on: "hover"
    });

    /*表单验证*/
    $(".ui.form").form({
        fields: {
            title: {
                identifier: "name",
                rules: [{
                    type: "empty",
                    prompt: "标签名称不可以为空！"
                }]
            },
        }
    })
</script>
</body>
</html>