<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments_admin :: head(~{::title})">
    <title>标签管理</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments_admin::menu(4)"></nav>
<!--二级导航-->
<div class="ui attached menu pointing">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{'/admin/tag-input/'+${pageInfo.pageNum}}" class="item">发布</a>
            <a href="#" th:href="@{'/admin/tag/page/1'+${pageInfo.pageNum}}" class="active item teal">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui  message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${message}" class="m-padded-tb-tiny"></p>
        </div>
        <table class="ui teal table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat : ${pageInfo.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${tag.name}">可以练习清单
                <td>
                    <a href="#" th:href="@{'/admin/tag/get/'+${tag.id}+'?page='+${pageInfo.pageNum}}"
                       class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{'/admin/tag/delete/'+${tag.id}}"
                       class="ui mini red  basic button delete-button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui pagination menu" th:unless="${pageInfo.pages}<=1">
                        <!--                            <a href="" class="item icon">-->
                        <!--                                <i class="left chevron icon"></i>-->
                        <!--                            </a>-->
                        <!--                            <a href="#" class="item">1</a>-->
                        <!--                            <a href="#" class="item">2</a>-->
                        <!--                            <a href="#" class="item">3</a>-->
                        <!--                            <a href="#" class="item">4</a>-->
                        <!--                            <a href="" class="item icon">-->
                        <!--                                <i class="right chevron icon"></i>-->
                        <!--                            </a>-->
                        <a href="#" th:href="@{'/admin/tag/page/'+${pageInfo.prePage}}"
                           th:unless="${pageInfo.isFirstPage}" class="item">上一页</a>
                        <a href="#" th:href="@{'/admin/tag/page/'+${pageInfo.nextPage}}"
                           th:unless="${pageInfo.isLastPage}" class="item">下一页</a>
                    </div>
                    <a href="#" th:href="@{'/admin/tag-input/'+${pageInfo.pageNum}}"
                       class="ui right floated  teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments_admin::foooter"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".delete-button").click(function () {
        return confirm("是否将标签 " + $(this).parent().parent().children("td").eq(1).html() + " 删除？")
    });
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });

    $(".ui.dropdown").dropdown({
        on: "hover"
    });
    $(".message .close").on("click", function () {
        $(this).closest('.message').transition('fade');
    })
</script>
</body>
</html>