<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments_admin :: head(~{::title})">
    <title>分类管理</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments_admin::menu(3)"></nav>
<!--二级导航-->
<div class="ui attached menu pointing">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="  item">发布</a>
            <a href="#" class="active item teal">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${pageInfo.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}">可以练习清单
                <td>
                    <a href="#"  th:href="@{'/admin/type/get/'+${type.id}}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{'/admin/type/delete/'+${type.id}}"class="ui mini red  basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui pagination menu">
                        <!--                            <a href="" class="item icon">-->
                        <!--                                <i class="left chevron icon"></i>-->
                        <!--                            </a>-->
                        <!--                            <a href="#" class="item">1</a>-->
                        <!--                            <a href="#" class="item">2</a>-->
                        <!--                            <a href="#" class="item">3</a>-->
                        <!--                            <a href="#" class="item">4</a>-->
                        <!--                            <a href="" class="item icon">-->
                        <!--                                <i class="right chevron icon"></i>-->
                        <!--                            </a>-->
                        <a href="#" th:href="@{'/admin/type/page/'+${pageInfo.prePage}}" th:unless="${pageInfo.isFirstPage}" class="item">上一页</a>
                        <a href="#" th:href="@{'/admin/type/page/'+${pageInfo.nextPage}}"  th:unless="${pageInfo.isLastPage}" class="item">下一页</a>
                    </div>
                    <a href="#" class="ui right floated  teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments_admin::foooter"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });

    $(".ui.dropdown").dropdown({
        on: "hover"
    });
</script>
</body>
</html>