<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <title th:replace="${title}">首页</title>
</head>
<body>
<nav th:fragment="menu(n)" class="ui inverted segment attached m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted  secondary menu stackable">
            <h2 class="ui  teal header item">后台管理</h2>
            <a href="#" th:href="@{/admin/index}"  class="m-item  m-mobile-hide item" th:classappend="${n==1}?'active'"><i class="home icon"></i> 首页</a>
            <a href="#" th:href="@{/admin/blog/page/1}" class=" m-item m-mobile-hide item" th:classappend="${n==2}?'active'"><i class="home icon"></i> 博客</a>
            <a href="#"  th:href="@{/admin/type/page/1}" class="m-item m-mobile-hide item" th:classappend="${n==3}?'active'"><i class="idea icon"></i> 分类</a>
            <a href="#" th:href="@{/admin/tag/page/1}" class="m-item m-mobile-hide item" th:classappend="${n==4}?'active'"><i class="tags icon"></i> 标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../static/images/1.jpg" alt="" class="ui avatar image" width="100px" th:src="${session.loginUser.avatar}" >
                        <span th:text="${session.loginUser.nickName}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{/user/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="menu toggle ui black button m-top-right m-mobile-show">
        <i class="icon sidebar"></i>
    </a>
</nav>
<footer th:fragment="foooter" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui  center aligned container">
        <div class="ui grid inverted stackable divided">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img  alt="" class="ui image round" style="width: 100px;" th:src="@{/images/zzz.jpg}">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header  me-text-spaced me-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item ">用户故事（User Story）</a>
                    <a href="#" class="item ">用户故事（User Story）</a>
                    <a href="#" class="item ">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header  me-text-spaced me-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item ">Email：2306421648@qq.com<a>
                        <a href="#" class="item ">QQ：2306421648</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header  me-text-spaced me-opacity-mini">Zhang Zhengzheng</h4>
                <p class="me-text-thin me-text-spaced me-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以
                    给来到这儿的人有所帮助</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="me-text-thin me-text-spaced me-opacity-tiny">Copyright© 2020 ZZZ Designed by zhangzhengzheng</p>
    </div>
</footer>
</body>
</html>