<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>搜索结果</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments::menu(0)"></nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui segment attached top">
            <div class="ui middle aligned two column  grid">
                <div class="column">
                    <h3 class="ui header teal">搜索结果</h3>
                </div>
                <div class="column right aligned">
                    共<h2 class="ui header orange m-inline-block me-text-thin" th:text="${pageInfo.total}"> 14 </h2>篇
                </div>
            </div>
        </div>

        <div class="ui  attached teal segment top " style="margin-top: 1em!important;">
            <div class="ui segment vertical m-padded-lr-clear m-padded-tb-large" th:each="blog:${pageInfo.list}">
                <div class="ui grid stackable mobile reversed">
                    <div class="eleven wide column">
                        <h3 class="ui header"  th:text="${blog.title}" ><a href="" th:href="@{'/blog/'+${blog.id}}" class="m-text-black">你真的理解财富自由吗？</a></h3>
                        <p class="m-text" th:text="${blog.description}+'.....'" onclick="location.href=$(this).data('href')" th:attr="data-href='/blog/'+${blog.id}">
                            你真的理解什么是财富自由吗？
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多
                            人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大
                            都那么做而已……
                        </p>
                        <div class="ui grid">
                            <div class="ui row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1035" alt=""
                                                 class="ui avatar image" th:src="${blog.user.avatar}">
                                            <div class="content"><a href="#" class="ui  me-text-thin" th:text="${blog.user.nickname}">张正正</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> <span  th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-8-11</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">111</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned">
                                    <a href="" target="_blank" class="ui teal basic label m-padded-tiny" th:text="${blog.type.name}">认知升级</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank" th:href="@{'/blog/'+${blog.id}}">
                            <img src="https://unsplash.it/800/450?image=1028" alt="" class="ui rounded image" th:src="${blog.firstPicture}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui segment vertical padded m-padded-tb-large" style="height: 180px!important;border: none!important;" th:each="i:${#numbers.sequence(1,emptyNum)}" >
            </div>
        </div>
        <div class="ui bottom segment attached" th:unless="${pageInfo.pages}<=1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button" th:unless="${pageInfo.isFirstPage}" th:href="@{'/search/'+${pageInfo.prePage}+'?query='+${query}}">上一页</a>
                </div>
                <div class="column right aligned">
                    <a href="#" class="ui mini teal basic button" th:unless="${pageInfo.isLastPage}" th:href="@{'/search/'+${pageInfo.nextPage}+'?query='+${query}}">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments::foooter"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
</script>
</body>
</html>